* {
  padding: 0;
  margin: 0;
  color: #4D2404;
  font-family: "Helvetica";
  font-weight: 300;
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background-color: #F5AC72;
  font-weight: 400;
  width: 6rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  box-shadow: 1px 1px 2px lightslategray;
}

input {
  width: 50%;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid #4D2404;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin-bottom: -100px;
}

.main__header {
  margin: 3rem 0 2rem 0;
}

.exercise-page {
  overflow: hidden;
}

.exercise-page__header {
  margin-bottom: 2rem;
}

.exercise-page__list {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.exercise-page__li {
  list-style-type: none;
  border: none;
  background-color: #FFEDDA;
  border-radius: 1rem;
  padding: 0.8rem 0 1rem;
  box-shadow: 1px 1px 2px lightslategray;
  width: 80%;
  max-width: 700px;
  margin: 0.5rem 2rem;
  cursor: pointer;
}

.exercise-page__forms {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 4rem;
  background-color: white;
}

.exercise-page__input {
  margin: 0 2rem 0 1rem;
}

.exercise-page__save {
  margin: 1rem auto;
  max-width: 800px;
}

.exercise-page__search {
  margin: 1rem auto 2rem;
  max-width: 800px;
}

.exercise-page__new-exercise {
  margin-bottom: 13rem;
}

.exercise-page__new-button {
  background-color: #F5AC72;
  width: 10rem;
  margin-top: 1rem;
}

.new-exercise__add {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.new-exercise__input {
  display: flex;
}
.new-exercise__input input {
  width: 40%;
  margin: auto;
  margin-bottom: 1rem;
}

.workouts-page__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding-bottom: 70px;
}

.workouts__li {
  list-style-type: none;
  border: none;
  background-color: #FFEDDA;
  border-radius: 1rem;
  padding: 0.8rem 0 1rem;
  box-shadow: 1px 1px 2px lightslategray;
  width: 80%;
  max-width: 700px;
  margin: 1rem 2rem;
  cursor: pointer;
}

.workout__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

.workouts__buttons {
  order: 3;
  width: 90%;
  margin: 0.5rem 0 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.workouts__button-delete, .workouts__button-restart {
  font-size: 0.8rem;
  padding: 1rem 0.5rem;
}

.workouts__exercise {
  list-style-type: none;
  border: none;
  background-color: #FFEDDA;
  border-radius: 1rem;
  padding: 0.8rem 0 1rem;
  box-shadow: 1px 1px 2px lightslategray;
  width: 80%;
  max-width: 700px;
  background-color: #F9C48B;
  margin: 0.5rem 2rem;
  order: 1;
  cursor: move;
}

.clicked {
  list-style-type: none;
  border: none;
  background-color: #FFEDDA;
  border-radius: 1rem;
  padding: 0.8rem 0 1rem;
  box-shadow: 1px 1px 2px lightslategray;
  width: 80%;
  max-width: 700px;
  background-color: lightsalmon;
  box-shadow: 3px 3px 2px lightslategray;
}

.done {
  background-color: lightgrey;
  font-style: italic;
  text-decoration: line-through;
  order: 2;
}

.current-dragging {
  visibility: hidden;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  background-color: #F5AC72;
  width: 100%;
  padding: 1.5rem 0;
  height: 20px;
}

.nav__button {
  font-weight: 400;
}

.profile {
  margin: 0.5rem auto;
}

.profile__card {
  border: 2px #FFEDDA solid;
  border-radius: 1rem;
  width: 80vw;
  max-width: 400px;
  margin: 1rem auto;
}
.profile__card .h2 {
  margin: 0 0 2rem;
}
.profile__card .profile__buttons {
  margin: 5rem 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__card .profile__logout-button {
  margin: 0.5rem 0;
  width: 7rem;
  cursor: pointer;
}

.update-profile {
  border: 2px #FFEDDA solid;
  border-radius: 1rem;
  width: 80vw;
  max-width: 400px;
  margin: 1rem auto;
}
.update-profile .h2 {
  margin: 1rem 0;
}

.update-profile__form {
  display: flex;
  min-width: 200px;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
}
.update-profile__form .update-profile__input {
  width: 100%;
  margin: 0.3rem auto;
}

.update-profile__buttons {
  display: flex;
}
.update-profile__buttons .update-profile__button, .update-profile__buttons .update-profile__cancel {
  margin: 0.3rem auto;
  width: 5rem;
}

/*# sourceMappingURL=index.css.map */
